footer {
  padding: 4rem 0 6rem;
  font-family: $font-playfair;
  color: #878787;

  a:not(:hover):not(:focus) {
    color: #878787;
  }

  .footer {
    &-logo {
      max-width: 267.51px;
    }

    &-contact-us {
      h6 {
        font: {
          size: 18px;
          weight: bold;
        }

        margin-top: 72px;
        margin-bottom: 25px;
      }
    }
  }
  .list-inline{
    i{
      font-size: 2rem;
    }
  }
}