// Colors
$primary: #E4BA5A;
$dark: #232323;

// Body
$body-bg: black;
$body-color: #f8f9fa;

// Links
$link-hover-decoration: none;

// Typography
$font-family-base: 'Prompt',
sans-serif;
$font-playfair: 'Playfair Display',
serif;

// Navbar
$navbar-dark-active-color: $primary;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1320px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px
);