@import './index';

.page {
  &-banner {
    border-bottom: 1px solid $primary;

    img {
      width: 100%;
      min-height: 200px;
      object-fit: cover;
    }
  }

  &-partner {
    padding: 4rem 0;

    &-item {
      display: block;
      max-width: 100%;
      max-height: 63px;
      margin: 0 auto;
      filter: grayscale(1);
      @include transition($transition-base);

      @include hover {
        filter: grayscale(0);
        @include transition($transition-base);
      }
    }
  }
}